<head>
  <!-- Google Tag Manager -->
  <script>
    (function(w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-PN49CKZV');
  </script>
  <!-- End Google Tag Manager -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <meta name="description" content="<%= description %>" />
  <meta name="keywords" content="Vegan restaurant, vegetarian restaurant, Palolem beach, healthy food, salad, plant-based cuisine, European inspired, South Goa" />
  <meta name="author" content="Roots & Bloom Café" />
  <meta name="robots" content="index, follow" />
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:description" content="<%= description %>" />
  <meta property="og:image" content="/img/logo-square-white-bkg.png" />
  <meta property="og:url" content="https://rootsandbloomcafe.com/" />
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="<%= title %>" />
  <meta name="twitter:description" content="<%= description %>" />
  <meta name="twitter:image" content="/img/logo-square-white-bkg.png" />
  <link rel="stylesheet" href="/src/styles.css" />
  <link rel="icon" href="/img/favicon.png" type="image/png" sizes="256x256" />
  <link rel="canonical" href="https://rootsandbloomcafe.com/" />

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Restaurant",
      "name": "Roots & Bloom Café",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Palolem Down St, Palolem, Canacona",
        "addressLocality": "South Goa",
        "postalCode": "403702",
        "addressCountry": "IN"
      },
      "telephone": "+91 738 71 45 897",
      "image": "https://rootsandbloomcafe.com/img/logo-square-white-bkg.png",
      "priceRange": "$$",
      "description": "In Palolem, South Goa, Roots & Bloom Café offers a plant-based haven reimagining European classics with lighter, vegan, and gluten-free twists, infused with Indian and Asian flavors for wholesome, nourishing meals.",
      "servesCuisine": ["Vegan", "Vegetarian"],
      "openingHours": ["Mo-Su 08:30-15:00", "Mo-Su 18:00-22:00"],
      "url": "https://rootsandbloomcafe.com/",
      "sameAs": [
        "https://www.facebook.com/rootsandbloomcafe",
        "https://www.instagram.com/rootsandbloom.cafe"
      ]
    }
  </script>
</head>